/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  table, form, .total-sum {
    font-family: 'Roboto', sans-serif;
  }
  h1, h2, th {
    font-weight: 700;
  }
  
  button {
    font-weight: 500;
  }
  